<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="cordova-plugin-killapp" 
    version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>KillApp</name>

    <engines>
      <engine name="cordova" version=">=3.4.0" />
    </engines>

    <asset src="www/KillApp.js" target="js/KillApp.js" />

    <js-module name="KillApp" src="www/KillApp.js">
        <clobbers target="cordova.plugins.KillApp" />
    </js-module>

    <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
        <feature name="KillApp">
            <param name="android-package" value="com.helderhenrique.android.cordova.plugin.killedapp.KillApp" />
        </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />           
    </config-file>

    <config-file parent="/manifest/application" target="AndroidManifest.xml">
        <service
            android:name="com.helderhenrique.android.cordova.plugin.killedapp.CheckAppKilledService"
            android:enabled="true"
            android:exported="false" />
        </config-file>
        
    <source-file src="src/com/helderhenrique/android/cordova/plugin/killedapp/KillApp.java" target-dir="src/com/helderhenrique/android/cordova/plugin/killedapp/" />
    <source-file src="src/com/helderhenrique/android/cordova/plugin/killedapp/CheckAppKilledService.java" target-dir="src/com/helderhenrique/android/cordova/plugin/killedapp/" />

    </platform>

</plugin>